/* Remove default margin and padding */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
	box-sizing: border-box;
	font-family: "Varta", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 10px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	--blue-color: #dff8f2;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* A elements that don't have a class get default styles */
/* a:not([class]) {
     text-decoration-skip-ink: auto;
} */

a {
	display: inline-block;
	text-decoration: none;
	color: #333;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img,
picture {
	max-width: 100%;
	height: auto;
	display: block;
}

input,
button,
textarea,
select,
optgroup {
	font: inherit;
	font-size: 100%;
}

/*  Info bar styling */
.info-bar {
	background-color: var(--blue-color);
	padding: 0 1rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.basic-info__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.basic-info__list-item {
	position: relative;
	margin-right: 2.5rem;
	padding-right: 0.5rem;
}

.basic-info__list-item:not(:last-child)::after {
	content: "";
	border: 2px solid #959595;
	border-width: 2px 2px 0 0;
	position: absolute;
	right: -1rem;
	top: 0;
	height: 100%;
}

.basic-info__link {
	display: flex;
	justify-content: center;
	align-items: center;
}

.basic-info__link img {
	width: 3rem;
	margin-right: 0.8rem;
}

.basic-info__link span {
	font-size: 2rem;
	padding-top: 0.6rem;
}

.social-info__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.social-info__list-item {
	margin-right: 3rem;
	position: relative;
}

.social-info__list-item:first-of-type::before {
	content: "";
	border: 2px solid #959595;
	border-width: 2px 2px 0 0;
	position: absolute;
	left: -2rem;
	top: 0;
	height: 100%;
}

.social-info__list img {
	width: 3rem;
	height: 3rem;
}

.navigation__list-item-link {
	display: flex;
}

.navigation__list-item-link:hover > .phone-icon-container {
	position: relative;
	background-color: red;
}

/* .phone-icon-container:hover {
	background-color: red;
} */

.phone-list-item {
	position: relative;
}

.phone-list-item::before {
	content: "";
	border: 1px solid #959595;
	border-width: 1px 1px 0 0;
	position: absolute;
	left: 0rem;
	top: 0;
	height: 100%;
}

.phone-icon-container {
	width: 7rem;
	height: 7rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #e1eeeb;
	border-radius: 50%;
	margin-right: 15px;
	text-align: center;
}

.phone-icon-container__icon {
	width: 2.5rem;
}

.phone-contact-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.nav-phone-number {
	font-weight: 600;
	font-size: 4rem;
	margin-top: 0.7rem;
}

/* Navbar styling */
.main-navigation__logo {
	display: inline-block;
	padding: 3rem;
}

.main-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	font-size: 2rem;
}

.main-navigation__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.main-navigation__list-item a {
	font-size: 2.5rem;
}

.main-navigation__list-item {
	display: inline-block;
	padding: 3rem;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
