h1 {
	font-size: 6rem;
}

h2 {
	font-size: 5rem;
}

h3 {
	font-size: 4rem;
}

h4 {
	font-size: 3rem;
}

h5 {
	font-size: 2rem;
}

p {
	font-size: 2rem;
}

/* Get Enrolled section */
.get-enrolled {
	background-image: url(../Photos/road-background-1.jpg);
	background-size: cover;
	text-align: center;
	padding: 10rem 0;
}

.get-enrolled__container {
	max-width: 110rem;
	margin: 0 auto;
	color: #fff;
	line-height: 1.2;
}

.get-enrolled__container h5 {
	margin-bottom: 3rem;
	font-weight: 300;
}

.get-enrolled__container h2 {
	font-weight: 700;
	margin-bottom: 4rem;
}

.get-enrolled__buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.get-enrolled__buttons a {
	background-color: #24a88e;
	color: #fff;
	font-size: 2.5rem;
	padding: 2rem 3rem;
	outline: none;
	border: none;
	border-radius: 3px;
	overflow: hidden;
	text-transform: capitalize;
	vertical-align: middle;
	display: flex;
	justify-content: center;
	align-items: center;
}

.get-enrolled__buttons a:first-child {
	margin-right: 2rem;
}

.get-enrolled__buttons a:nth-child(2) {
	background-color: transparent;
	border: 0.2rem solid #fff;
	padding: 1.8rem 2.8rem;
}

.get-enrolled__buttons a:first-child::after {
	content: url("../Icons/right-arrow.svg");
	margin-left: 1rem;
	width: 2.5rem;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;

	/* background-image: url("../Icons/right-arrow.svg"); */
	/* background-size: 2rem;
	width: 2rem;
	height: 2rem; */
}

/* .get-enrolled__buttons a:nth-child(2)::after {
	display: block;
	content: " ";
	background-image: url("../Icons/right-arrow.svg");
	background-size: 2rem;
	width: 2rem;
	height: 2rem;
} */

/* Contact Us section */
.contact-us__text-photo-container {
	height: 35rem;
	background-image: url(/Photos/contact-us-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-us__text-photo-container h2 {
	position: relative;
	color: #fff;
}

.contact-us__text-photo-container h2::after {
	position: absolute;
	content: "";
	height: 3px;
	width: 76px;
	bottom: -2rem;
	left: 0;
	background-image: url(../Icons/shape-1.png);
	left: 50%;
	transform: translateX(-50%);
}

.contact-us__general-info {
	padding: 15rem 0;
	max-width: 130rem;
	margin: 0 auto;
}

.contact-us__container {
	margin-bottom: 5rem;
}

.contact-us__banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contact-us__banner-text-left h5 {
	color: rgb(97, 97, 97);
	margin-bottom: 5rem;
	position: relative;
	padding-bottom: 2.5rem;
}

.contact-us__banner-text-left h2 {
	font-weight: 700;
}

.contact-us__banner-text-left h5::after {
	position: absolute;
	content: "";
	height: 3px;
	width: 63px;
	bottom: 0;
	left: 0;
	background-image: url(../Icons/shape-3.png);
}

.contact-us__banner-text-right {
	line-height: 4.5rem;
	font-weight: 300;
	color: #555555;
	margin: 0px 0px 15px;
	width: 47%;
}

.banner-text-right {
	font-size: 2.5rem;
	letter-spacing: 0.1rem;
}

.contact-us__form-map {
	display: flex;
}

.contact-us__map-container {
	flex: 45%;
}

.contact-us__form-container {
	flex: 65%;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 42px 4px rgba(0, 0, 0, 0.05);
}

.form-container__fieldset-heading {
	text-align: center;
	margin-bottom: 4rem;
}

.form-container__fieldset-heading h3 {
	margin: 2rem 0;
}

.form {
	width: 85%;
}

.form-container__first-row,
.form-container__second-row,
.form-container__third-row,
.form-container__forth-row {
	display: flex;
	justify-content: space-between;
}

input[type="text"],
input[type="email"],
input[type="tel"],
.form-container__select {
	padding: 1rem 2rem;
	outline: none;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: #6e6e6e;
	line-height: 1.4;
	font-size: 2rem;
	margin-right: 2rem;
	flex: 33%;
	transition: border 500ms ease-out;
	-webkit-transition: border 500ms ease-out;
	-moz-transition: border 500ms ease-out;
	-o-transition: border 500ms ease-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
.form-container__select:focus {
	outline: none;
	border: 1px solid black;
}

input[type="email"] {
	margin: 0;
}

.form-container__fieldset-inputs div:not(:last-child) {
	margin-bottom: 3.5rem;
}

input[type="text"]::placeholder {
	font-weight: 600;
}

.third-row-textarea {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: #6e6e6e;
	line-height: 1.2;
	font-size: 1.5rem;
	resize: vertical;
	min-height: 20rem;
	padding: 1rem;
	transition: border 500ms ease-out;
	-webkit-transition: border 500ms ease-out;
	-moz-transition: border 500ms ease-out;
	-o-transition: border 500ms ease-out;
}

.third-row-textarea:focus {
	outline: none;
	border: 1px solid black;
}

.form-container__forth-row {
	justify-content: center;
	align-items: center;
	text-align: center;
}

.form-container__forth-row input:hover {
	background: #25b05f;
	transition: 0.5s linear;
}

input[type="submit"] {
	background-color: rgb(38, 43, 68);
	color: #fff;
	cursor: pointer;
	border-radius: 2rem;
	font-size: 2.5rem;
	padding: 1.5rem 2rem;
	border: none;
	flex: 0 1 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
}

.contact-us__map {
	width: 100%;
	height: 100%;
}

/* Footer styling */
.main-footer {
	background-image: url(../Photos/footer-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.main-footer__information-container {
	max-width: 140rem;
	margin: 0 auto;
	display: flex;
	padding: 10rem 0;
}

.information-container__first-column {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	flex: 40%;
	padding-right: 12%;
	padding-bottom: 2px;
	border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-logo-container {
	margin-bottom: 2rem;
	width: 20rem;
	height: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.first-column__text {
	color: #fff;
	margin-bottom: 2rem;
	font-size: 2.5rem;
}

.first-column__logo {
	display: inline-block;
}

.first-column__logo img {
	width: 20rem;
	height: 20rem;
}

.first-column__social-icons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-icons_list-item {
	margin-right: 2rem;
}

.social-icons_list-item img {
	width: 3.6rem;
	height: 3.6rem;
	background-color: white;
	border-radius: 100%;
	padding: 0.8rem;
}

.information-container__second-column,
.information-container__third-column {
	display: flex;
	flex: 18%;
	color: #fff;
	margin-left: 2.5rem;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	position: relative;
}

.information-container__fourth-column {
	display: flex;
	color: #fff;
	flex: 24%;
	margin-right: 2.5rem;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
}

.info-container__title {
	margin-bottom: 2rem;
	font-weight: 700;
}

.information-container__second-column address {
	margin-bottom: 1rem;
}

.information-container__second-column address span {
	font-size: 1.8rem;
	color: #fff;
}

.footer-general-container {
	margin-bottom: 1rem;
}

.footer-general-container a {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 2rem;
	color: #fff;
}

.info-container__address a,
.info-container__phone a,
.info-container__telefax a,
.info-container__email a {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.footer-contact-icon {
	width: 2rem;
	height: 2rem;
	margin-right: 1rem;
	-webkit-filter: invert(0.75); /* safari 6.0 - 9.0 */
	filter: invert(0.75);
}

.footer-subscribe-container {
	margin-bottom: 2rem;
}

.footer-subscribe-form {
	display: flex;
	position: relative;
}

.footer-subscribe-form:hover {
	cursor: pointer;
}

.footer-subscribe-form input,
.footer-subscribe-form input:focus {
	height: 5rem;
	flex: 100%;
	border-color: rgba(255, 255, 255, 0.3);
	background-color: transparent;
}

.footer-subscribe-form input::placeholder {
	color: rgba(255, 255, 255, 0.7);
}

.footer-subscribe-form button {
	all: unset;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 3rem;
	height: auto;
	padding: 1rem;
	background-color: #25b05f;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-subscribe-form button img {
	width: 2.4rem;
}

/* Remove placeholder text on focus on all browsers */
*:focus::-webkit-input-placeholder {
	opacity: 0;
} /* Chrome <=56, Safari < 10 */
*:focus:-moz-placeholder {
	opacity: 0;
} /* FF 4-18 */
*:focus::-moz-placeholder {
	opacity: 0;
} /* FF 19-50 */
*:focus:-ms-input-placeholder {
	opacity: 0;
} /* IE 10+ */
*:focus::placeholder {
	opacity: 0;
} /* Modern Browsers */

.main-footer__copyright-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 4rem;
	background-color: transparent;
	color: rgba(255, 255, 255, 0.7);
	font-size: 1.6rem;
}

.main-footer__terms-conditions {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-footer__terms-conditions a {
	color: rgba(255, 255, 255, 0.7);
}

.terms-list-item {
	padding: 1.5rem;
}

.footer-arrow-up {
	-webkit-filter: invert(0.75); /* safari 6.0 - 9.0 */
	filter: invert(0.75);
	border: 1px solid rgba(255, 255, 255, 0.7);
	padding: 1rem;
	border-radius: 100%;
}
